# Logs
logs
*.log
npm-debug.log*

node_modules
dist
*.local
*.tgz

# Panda CSS generated output
styled-system
styled-system.css

# Storybook build output
storybook-static

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
